.footer {
  padding: 50px 0 40px 0;
  width: 100%;
  min-height: 569px;
  background: #464c55;
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__article {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__block {
    width: 1060px;
    height: 1px;
    opacity: 0.2;
    background: #fff;
  }
  &__title {
    color: #fff;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }
  &__link {
    color: #fff;
    padding: 2px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    cursor: pointer;
  }
  &__img {
    object-fit: cover;
    object-position: center;
    &-wrap {
      display: flex;
    }
  }
  &__link-wrap {
    display: flex;
    flex-direction: column;
  }
  &__phone {
    color: #fff;
    text-align: right;
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 29px; /* 100% */
  }

  &__mail {
    color: #fff;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    opacity: 0.9;
    margin-top: 26px;
  }
  &__text {
    color: #fff;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
  }
}

@media (max-width: 815px) {
  .footer {
    &__title {
      font-size: 16px;
      line-height: 24px;
    }
    &__link {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__info {
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
    &__link-wrap {
      align-items: start;
    }
    &__block {
      display: none;
    }
  }
}

@media (max-width: 515px) {
  .footer {
    &__info {
      flex-direction: column;
    }
    &__article {
      align-items: start;
      &-info {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
      }
    }
    &__link{
      display: flex;
      
    }
    &__text {
      display: none;
    }
    &__phone {
      display: none;
    }
    &__mail {
      margin-top: 0px;
    }
  }
}
