.popular {
  padding: 70px 0;
  &__text {
    @include bold-text;
  }

  &__card-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
}
.card {
  max-width: 250px;
  min-width: 250px;
  max-height: 104px;
  padding: 14px 18px;
  display: flex;
  gap: 22px;
  border-radius: 10px;
  box-shadow: 0px 6px 25px 0px rgba(6, 5, 50, 0.05);

  cursor: pointer;
  &__img {
    max-width: 76px;
    object-fit: cover;
    object-position: center;
  }
  &__text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text {
    margin: 0;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__price {
    margin-top: 4px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
  }
}
