.btn {
  min-width: 120px;
  height: 40px;
  padding: 8px 20px;
  border-radius: 1000px;
  background: #fff0e6;
  color: #d15700;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  border: 0;

  &::before {
    content: attr(text);
  }
  &:hover::before {
    content: attr(hover-text);
    background: #d15700;
    background-size: contain;
    color: white;
  }
}
