.logo {
  display: flex;
  cursor: pointer;

  &__text {
    margin-top: 7px;
    color: #343434;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }
  &__name {
    margin-left: 14px;
  }
  &__img {
    object-fit: cover;
    object-position: center;
  }
}
@media(max-width:515px){
  .logo{
    &__text{
      display: none;
    }
  }
}
