.logo {
  display: flex;
  cursor: pointer;

  &__text {
    margin-top: 7px;
    color: #343434;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__name {
    margin-left: 14px;
  }
}
