.network {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    display: flex;
    gap: 28px;
  }
  &__text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.7;
  }
  &__info {
    display: flex;
    gap: 20px;
  }
  &__link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 5px;
    opacity: 0.9;
    cursor: pointer;
  }
  &__social {
    gap: 6px;
  }
  &__img{
    width: 32px;
    height: 32px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
  }
}
@media(max-width:515px) {
.network{
  flex-direction: column;
  align-items: start;
  &__info{
    flex-direction: column;
  }
}
}
