<article class="article">
  <div class="article__img-wrap">
    <img
      class="article__img"
      src="../img/items/pizza/pizza-1.webp"
      srcset="
        ../img/items/pizza/pizza-1.webp    1x,
        ../img/items/pizza/pizza-1-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <div class="article__text-wrap">
  <h3 class="article__title">Пицца из половинок</h3>
  <p class="article__text">Соберите свою пиццу 35 см с двумя разными вкусами</p>
  <div class="article__footer">
    <p class="article__price">от 600 ₽</p>
    <button class="article__btn btn" text="Выбрать" hover-text="Собрать">
      
    </button>
  </div>
  </div>
</article>
<article class="article">
  <div class="article__img-wrap">
    <img
      class="article__img"
      src="../img/items/pizza/pizza-2.webp"
      srcset="
        ../img/items/pizza/pizza-2.webp    1x,
        ../img/items/pizza/pizza-2-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <div class="article__text-wrap">
  <h3 class="article__title">Пепперони-сердце</h3>
  <p class="article__text">Пикантная пепперони, моцарелла, томатный соус</p>
  <div class="article__footer">
    <p class="article__price">от 625 ₽</p>
    <button class="article__btn btn" text="Выбрать" hover-text="Собрать">
      
    </button>
    </div>
  </div>
</article>
<article class="article">
  <div class="article__img-wrap">
    <img
      class="article__img"
      src="../img/items/pizza/pizza-3.webp"
      srcset="
        ../img/items/pizza/pizza-3.webp    1x,
        ../img/items/pizza/pizza-3-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <div class="article__text-wrap">
  <h3 class="article__title">Пирог-сердце</h3>
  <p class="article__text">Ананасы, брусника, сгущенное молоко</p>
  <div class="article__footer">
    <p class="article__price">от 625 ₽</p>
    <button class="article__btn btn" text="Выбрать" hover-text="Собрать">
      
    </button>
  </div>
  </div>
</article>
<article class="article">
  <div class="article__img-wrap">
    <img
      class="article__img"
      src="../img/items/pizza/pizza-4.webp"
      srcset="
        ../img/items/pizza/pizza-4.webp    1x,
        ../img/items/pizza/pizza-4-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <div class="article__text-wrap">
  <h3 class="article__title">Чиззи чеддер</h3>
  <p class="article__text">
    Ветчина, сыр чеддер, сладкий перец, моцарелла, томатный соус, чеснок,
    итальянские травы
  </p>
  <div class="article__footer">
    <p class="article__price">от 625 ₽</p>
    <button class="article__btn btn" text="Выбрать" hover-text="Собрать">
      
    </button>
    </div>
  </div>
</article>
<article class="article">
  <div class="article__img-wrap">
    <img
      class="article__img"
      src="../img/items/pizza/pizza-5.webp"
      srcset="
        ../img/items/pizza/pizza-5.webp    1x,
        ../img/items/pizza/pizza-5-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <div class="article__text-wrap">
  <h3 class="article__title">Цыпленок блю чиз</h3>
  <p class="article__text">
    Цыпленок, сыр блю чиз, томаты, моцарелла, соус альфредо
  </p>
  <div class="article__footer">
    <p class="article__price">от 445 ₽</p>
    <button class="article__btn btn" text="Выбрать" hover-text="Собрать">
      
    </button>
    </div>
  </div>
</article>
<article class="article">
  <div class="article__img-wrap">
    <img
      class="article__img"
      src="../img/items/pizza/pizza-6.webp"
      srcset="
        ../img/items/pizza/pizza-6.webp    1x,
        ../img/items/pizza/pizza-6-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <div class="article__text-wrap">
  <h3 class="article__title">Нежный лосось</h3>
  <p class="article__text">
    Лосось, томаты черри, соус песто, моцарелла, соус альфредо
  </p>
  <div class="article__footer">
    <p class="article__price">от 495 ₽</p>
    <button class="article__btn btn" text="Выбрать" hover-text="Собрать">
      
    </button>
    </div>
  </div>
</article>
<article class="article">
  <div class="article__img-wrap">
    <img
      class="article__img"
      src="../img/items/pizza/pizza-7.webp"
      srcset="
        ../img/items/pizza/pizza-7.webp    1x,
        ../img/items/pizza/pizza-7-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <div class="article__text-wrap">
  <h3 class="article__title">Сырная</h3>
  <p class="article__text">
    Увеличенная порция моцареллы, сыры чеддер и пармезан, соус альфредо
  </p>
  <div class="article__footer">
    <p class="article__price">от 245 ₽</p>
    <button class="article__btn btn" text="Выбрать" hover-text="Собрать">
      
    </button>
    </div>
  </div>
</article>
<article class="article">
  <div class="article__img-wrap">
    <img
      class="article__img"
      src="../img/items/pizza/pizza-8.webp"
      srcset="
        ../img/items/pizza/pizza-8.webp    1x,
        ../img/items/pizza/pizza-8-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <div class="article__text-wrap">
  <h3 class="article__title">Пепперони фреш</h3>
  <p class="article__text">
    Пикантная пепперони, увеличенная порция моцареллы, томаты, томатный соус
  </p>
  <div class="article__footer">
    <p class="article__price">от 245 ₽</p>
    <button class="article__btn btn" text="Выбрать" hover-text="Собрать">
      
    </button>
    </div>
  </div>
</article>
