<article class="beverages-article">
  <div class="beverages-article__img-wrap">
    <img
      class="beverages-article__img"
      src="../img/items/drinks/drink-1.webp"
      srcset="
        ../img/items/drinks/drink-1.webp    1x,
        ../img/items/drinks/drink-1-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <h3 class="beverages-article__title">2 Coca-Cola по суперцене</h3>
  <p class="beverages-article__text">
    Две классические Coca-Cola по 0,5 литров по выгодной цене, 0,5 л
  </p>
  <div class="beverages-article__footer">
    <p class="beverages-article__price">99 ₽</p>
    <button class="beverages-article__btn btn">В корзину</button>
  </div>
</article>
<article class="beverages-article">
  <div class="beverages-article__img-wrap">
    <img
      class="beverages-article__img"
      src="../img/items/drinks/drink-2.webp"
      srcset="
        ../img/items/drinks/drink-2.webp    1x,
        ../img/items/drinks/drink-2-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <h3 class="beverages-article__title">Coca-Cola Orange</h3>
  <p class="beverages-article__text">0,5 л</p>
  <div class="beverages-article__footer">
    <p class="beverages-article__price">149 ₽</p>
    <button class="beverages-article__btn btn">В корзину</button>
  </div>
</article>
<article class="beverages-article">
  <div class="beverages-article__img-wrap">
    <img
      class="beverages-article__img"
      src="../img/items/drinks/drink-3.webp"
      srcset="
        ../img/items/drinks/drink-3.webp    1x,
        ../img/items/drinks/drink-3-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <h3 class="beverages-article__title">Coca-Cola Zero</h3>
  <p class="beverages-article__text">0,5 л</p>
  <div class="beverages-article__footer">
    <p class="beverages-article__price">159 ₽</p>
    <button class="beverages-article__btn btn">В корзину</button>
  </div>
</article>
<article class="beverages-article">
  <div class="beverages-article__img-wrap">
    <img
      class="beverages-article__img"
      src="../img/items/drinks/drink-4.webp"
      srcset="
        ../img/items/drinks/drink-4.webp    1x,
        ../img/items/drinks/drink-4-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <h3 class="beverages-article__title">Coca-Cola</h3>
  <p class="beverages-article__text">0,5 л</p>
  <div class="beverages-article__footer">
    <p class="beverages-article__price">159 ₽</p>
    <button class="beverages-article__btn btn">В корзину</button>
  </div>
</article>
<article class="beverages-article">
  <div class="beverages-article__img-wrap">
    <img
      class="beverages-article__img"
      src="../img/items/drinks/drink-5.webp"
      srcset="
        ../img/items/drinks/drink-5.webp    1x,
        ../img/items/drinks/drink-5-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <h3 class="beverages-article__title">Coca-Cola Vanilla</h3>
  <p class="beverages-article__text">0,5 л</p>
  <div class="beverages-article__footer">
    <p class="beverages-article__price">159 ₽</p>
    <button class="beverages-article__btn btn">В корзину</button>
  </div>
</article>
