<article class="dessert-article">
  <div class="dessert-article__img-wrap">
    <img class="dessert-article__img" 
    src="../img/items/desserts/dessert-1.webp"
     srcset="../img/items/desserts/dessert-1.webp 1x, 
     ../img/items/desserts/dessert-1-2x.webp 2x" alt="#" />
  </div>
  <h3 class="dessert-article__title">Яблочный пирог</h3>
  <p class="dessert-article__text">
    Десерт из песочного теста с яблочной начинкой. Может содержать изюм
  </p>
  <div class="dessert-article__footer">
    <p class="dessert-article__price">99 ₽</p>
    <button class="dessert-article__btn btn">В корзину</button>
  </div>
</article>
<article class="dessert-article">
  <div class="dessert-article__img-wrap">
    <img class="dessert-article__img" src="../img/items/desserts/dessert-2.webp"
     srcset="../img/items/desserts/dessert-2.webp 1x, ../img/items/desserts/dessert-2-2x.webp 2x" alt="#" />
  </div>
  <h3 class="dessert-article__title">Чизкейк Нью-Йорк</h3>
  <p class="dessert-article__text">
    Классический американский творожный десерт
  </p>
  <div class="dessert-article__footer">
    <p class="dessert-article__price">149 ₽</p>
    <button class="dessert-article__btn btn">В корзину</button>
  </div>
</article>
</article>
<article class="dessert-article">
  <div class="dessert-article__img-wrap">
    <img class="dessert-article__img" src="../img/items/desserts/dessert-3.webp" 
    srcset="../img/items/desserts/dessert-3.webp 1x, ../img/items/desserts/dessert-3-2x.webp 2x" alt="#" />
  </div>
  <h3 class="dessert-article__title">Фонданы, 2 шт</h3>
  <p class="dessert-article__text">
    Два десерта с хрустящей корочкой и топлёной шоколадной начинкой
  </p>
  <div class="dessert-article__footer">
    <p class="dessert-article__price">159 ₽</p>
    <button class="dessert-article__btn btn">В корзину</button>
  </div>
</article>
<article class="dessert-article">
  <div class="dessert-article__img-wrap">
    <img class="dessert-article__img" src="../img/items/desserts/dessert-4.webp" 
    srcset="../img/items/desserts/dessert-4.webp 1x, ../img/items/desserts/dessert-4-2x.webp 2x" alt="#" />
  </div>
  <h3 class="dessert-article__title">Молочный коктейль с печеньем Орео</h3>
  <p class="dessert-article__text">
    Напиток из молока и мороженого с добавлением дробленого печенья «Орео»
  </p>
  <div class="dessert-article__footer">
    <p class="dessert-article__price">159 ₽</p>
    <button class="dessert-article__btn btn">В корзину</button>
  </div>
</article>
<article class="dessert-article">
  <div class="dessert-article__img-wrap">
    <img class="dessert-article__img" src="../img/items/desserts/dessert-4.webp" 
    srcset="../img/items/desserts/dessert-4.webp 1x, ../img/items/desserts/dessert-4-2x.webp 2x" alt="#"  />
  </div>
  <h3 class="dessert-article__title">Классический <br> молочный коктейль</h3>
  <p class="dessert-article__text">
    Напиток из молока и мороженого
  </p>
  <div class="dessert-article__footer">
    <p class="dessert-article__price">159 ₽</p>
    <button class="dessert-article__btn btn">В корзину</button>
  </div>
</article>