<article class="dessert-article">
  <div class="dessert-article__img-wrap">
    <img class="dessert-article__img" src="../img/dessert/apple-pie.png" alt="#" />
  </div>
  <h3 class="dessert-article__title">Яблочный пирог</h3>
  <p class="dessert-article__text">
    Десерт из песочного теста с яблочной начинкой. Может содержать изюм
  </p>
  <div class="dessert-article__footer">
    <p class="dessert-article__price">99 ₽</p>
    <button class="dessert-article__btn btn">В корзину</button>
  </div>
</article>