<footer class="footer">
  <div class="container">
    <div class="footer__info">
      <article class="footer__article">
        <h3 class="footer__title">Додо Пицца</h3>
        <a class="footer__link">О нас</a>
        <a class="footer__link">Додо-книга</a>
        <a class="footer__link">Блог «Сила ума»</a>
        <a class="footer__link">Додо ИС</a>
      </article>
      <article class="footer__article">
        <h3 class="footer__title">Работа</h3>
        <a class="footer__link">В пиццерии</a>
        <a class="footer__link"
          >В контакт- <br />
          центре</a
        >
      </article>
      <article class="footer__article">
        <h3 class="footer__title">Партнерам</h3>
        <a class="footer__link">Франшиза</a>
        <a class="footer__link">Инвестиции</a>
        <a class="footer__link">Поставщикам</a>
        <a class="footer__link">Предложить <br />помещение</a>
      </article>
      <article class="footer__article">
        <h3 class="footer__title">Это интересно</h3>
        <a class="footer__link"
          >Экскурсии и <br />
          мастер-классы</a
        >
        <a class="footer__link">Корпоративные <br />заказы</a>
      </article>
      <article class="footer__article">
        <div class="footer__img-wrap">
          <img
            class="footer__img"
            src="../img/icons/gplay.webp"
            srcset="../img/icons/gplay.webp 1x, ../img/icons/gplay-2x.webp 2x"
            alt="#"
          />
          <img
            class="footer__img"
            src="../img/icons/appstore.webp"
            srcset="
              ../img/icons/appstore.webp    1x,
              ../img/icons/appstore-2x.webp 2x
            "
            alt="#"
          />
        </div>
        <a class="footer__phone" href="tel:88003020060">8-800-302-00-60</a>
        <p class="footer__text">Звонок бесплатный</p>
        <a class="footer__mail" href="mailto:feedback@dodopizza.com"
          >feedback@dodopizza.com</a
        >
      </article>
    </div>
    <div class="footer__profit profit">
      <article class="profit__article">
        <h3 class="profit__title">1 396 362 874 ₽</h3>
        <p class="profit__text">
          Выручка российской сети в этом месяце. В прошлом — 2 460 305 416 ₽
        </p>
      </article>
      <article class="profit__article">
        <h3 class="profit__title">688 пиццерий</h3>
        <p class="profit__text">
          в 14 странах, включая Китай, США и Великобританию
        </p>
      </article>
    </div>
    <div class="footer__"></div>
  </div>
</footer>
