<footer class="footer">
  <div class="container">
    <div class="footer__info">
      <article class="footer__article">
        <h3 class="footer__title">Додо Пицца</h3>
        <a class="footer__link">О нас</a>
        <a class="footer__link">Додо-книга</a>
        <a class="footer__link">Блог «Сила ума»</a>
        <a class="footer__link">Додо ИС</a>
      </article>
      <article class="footer__article">
        <h3 class="footer__title">Работа</h3>
        <a>В пиццерии</a>
        <a>В контакт- центре</a>
      </article>
      <article class="footer__article">
        <h3 class="footer__title">Партнерам</h3>
        <a>Франшиза</a>
        <a>Инвестиции</a>
        <a>Поставщикам</a>
        <a>Предложить</a>
        <a>Предложить помещение</a>
      </article>
      <article class="footer__article">
        <h3 class="footer__title">Это интересно</h3>
        <a>Экскурсии и мастер-классы</a>
        <a>Корпоративные заказы</a>
      </article>
      <article class="footer__article">
        <div class="footer__img-wrap">
          <img class="footer__img"
            src="../img/icons/gplay.webp"
            srcset="../img/icons/gplay.webp 1x, ../img/icons/gplay-2x.webp 2x"
            alt="#"
          />
          <img class="footer__img"
            src="../img/icons/appstore.webp"
            srcset="
              ../img/icons/appstore.webp    1x,
              ../img/icons/appstore-2x.webp 2x
            "
            alt="#"
          />
        </div>
        <a href="tel:88003020060">8-800-302-00-60</a>
        <p>Звонок бесплатный</p>
        <a>feedback@dodopizza.com</a>


      </article>
    </div>
  </div>
</footer>
