<section class="popular">
  <div class="container inner">
    <p class="popular__text">Новое и популярное</p>
    <div class="popular__card">
      <article class="card">
        <img src="/src/img/popular/cezar.webp" alt="#" />
        <div class="card__wrap">
          <p class="card__text">Цезарь</p>
          <p class="card__text">от 445 ₽</p>
        </div>
      </article>
      <article class="card">
        <img src="/src/img/popular/fish.webp" alt="#" />
        <div class="card__wrap">
          <p class="card__text">Нежный лосось</p>
          <p class="card__text">от 495 ₽</p>
        </div>
      </article>
      <article class="card">
        <img src="/src/img/popular/two_birds.webp" alt="#" />
        <div class="card__wrap">
          <p class="card__text">2 пиццы</p>
          <p class="card__text">899 ₽</p>
        </div>
      </article>
      <article class="card">
        <img src="/src/img/popular/carbonara.webp" alt="#" />
        <div class="card__wrap">
          <p class="card__text">Карбонара</p>
          <p class="card__text">от 395 ₽</p>
        </div>
      </article>
    </div>
  </div>
</section>
