<section class="popular">
  <div class="container inner">
    <h3 class="popular__text">Новое и популярное</h3>
    <div class="popular__card-wrap">
      <article class="card">
        <img
          class="card__img"
          src="/src/img/popular/cezar.webp"
          alt="#"
          srcset="../img/popular/cezar.webp 1x, ../img/popular/cezar@2x.webp 2x"
        />
        <div class="card__text-wrap">
          <p class="card__text">Цезарь</p>
          <p class="card__price">от 445 ₽</p>
        </div>
      </article>
      <article class="card">
        <img
          class="card__img"
          src="../img/popular/fish.webp"
          alt="#"
          srcset="../img/popular/fish.webp 1x, ../img/popular/fish@x2.webp 2x"
        />
        <div class="card__text-wrap">
          <p class="card__text">Нежный лосось</p>
          <p class="card__price">от 495 ₽</p>
        </div>
      </article>
      <article class="card">
        <img
          class="card__img"
          src="../img/popular/two_birds.webp"
          alt="#"
          srcset="
            ../img/popular/two_birds.webp    1x,
            ../img/popular/two_birds@2x.webp 2x
          "
        />
        <div class="card__text-wrap">
          <p class="card__text">2 пиццы</p>
          <p class="card__price">899 ₽</p>
        </div>
      </article>
      <article class="card">
        <img
          class="card__img"
          src="../img/popular/carbonara.webp"
          alt="#"
          srcset="
            ../img/popular/carbonara.webp    1x,
            ../img/popular/carbonara@x2.webp 2x
          "
        />
        <div class="card__text-wrap">
          <p class="card__text">Карбонара</p>
          <p class="card__price">от 395 ₽</p>
        </div>
      </article>
    </div>
  </div>
</section>
