<article class="snacks-article">
  <div class="snacks-article__img-wrap">
    <img
      class="snacks-article__img"
      src="../img/items/snacks/snack-1.webp"
      srcset="
        ../img/items/snacks/snack-1.webp    1x,
        ../img/items/snacks/snack-1-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <div class="snacks-article__text-wrap">
    <h3 class="snacks-article__title">Томатный суп с <br> гренками</h3>
    <p class="snacks-article__text">
      Горячий суп с пшеничными гренками на основе фирменного соуса из
      итальянских томатов
    </p>
    <div class="snacks-article__footer">
      <p class="snacks-article__price">99 ₽</p>
      <button class="snacks-article__btn btn" text="В корзину" price="99 ₽"></button>
    </div>
  </div>
</article>
<article class="snacks-article">
  <div class="snacks-article__img-wrap">
    <img
      class="snacks-article__img"
      src="../img/items/snacks/snack-1.webp"
      srcset="
        ../img/items/snacks/snack-1.webp    1x,
        ../img/items/snacks/snack-1-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <div class="snacks-article__text-wrap">
    <h3 class="snacks-article__title">Томатный суп с <br> митболами</h3>
    <p class="snacks-article__text">
      Горячий суп c митболами из говядины и маслинами на основе фирменного соуса
      из итальянских томатов
    </p>
    <div class="snacks-article__footer">
      <p class="snacks-article__price">99 ₽</p>
      <button class="snacks-article__btn btn" text="В корзину" price="99 ₽"></button>
    </div>
  </div>
</article>
<article class="snacks-article">
  <div class="snacks-article__img-wrap">
    <img
      class="snacks-article__img"
      src="../img/items/snacks/snack-2.webp"
      srcset="
        ../img/items/snacks/snack-2.webp    1x,
        ../img/items/snacks/snack-2-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <div class="snacks-article__text-wrap">
    <h3 class="snacks-article__title">Додстер</h3>
    <p class="snacks-article__text">
      Легендарная горячая закуска с цыпленком, томатами, моцареллой, соусом ранч
      в тонкой пшеничной лепешке
    </p>
    <div class="snacks-article__footer">
      <p class="snacks-article__price">159 ₽</p>
      <button class="snacks-article__btn btn" text="В корзину" price="159 ₽"></button>
    </div>
  </div>
</article>
<article class="snacks-article">
  <div class="snacks-article__img-wrap">
    <img
      class="snacks-article__img"
      src="../img/items/snacks/snack-3.webp"
      srcset="
        ../img/items/snacks/snack-3.webp    1x,
        ../img/items/snacks/snack-3-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <div class="snacks-article__text-wrap">
    <h3 class="snacks-article__title">Острый Додстер</h3>
    <p class="snacks-article__text">
      Горячая закуска с острым цыпленком, перцем халапеньо, солеными огурчиками,
      томатами, моцареллой и соусом барбекю в тонкой пшеничной лепешке
    </p>
    <div class="snacks-article__footer">
      <p class="snacks-article__price">159 ₽</p>
      <button class="snacks-article__btn btn" text="В корзину" price="159 ₽"></button>
    </div>
  </div>
</article>
<article class="snacks-article">
  <div class="snacks-article__img-wrap">
    <img
      class="snacks-article__img"
      src="../img/items/snacks/snack-4.webp"
      srcset="
        ../img/items/snacks/snack-4.webp    1x,
        ../img/items/snacks/snack-4-2x.webp 2x
      "
      alt="#"
    />
  </div>
  <div class="snacks-article__text-wrap">
    <h3 class="snacks-article__title">Додстер Чипотле</h3>
    <p class="snacks-article__text">
      Горячая закуска с пикантным соусом чипотле из копченых перчиков,
      цыпленком, томатами, моцареллой в тонкой пшеничной лепешке
    </p>
    <div class="snacks-article__footer">
      <p class="snacks-article__price">159 ₽</p>
      <button class="snacks-article__btn btn" text="В корзину" price="159 ₽"></button>
    </div>
  </div>
</article>
