<article class="snacks-article">
  <div class="snacks-article__img-wrap">
    <img class="snacks-article__img" src="../img/snacks/tomat-grenki 3.webp" alt="#" />
  </div>
  <h3 class="snacks-article__title">Томатный суп с гренками</h3>
  <p class="snacks-article__text">
    Горячий суп с пшеничными гренками на основе фирменного соуса из итальянских
    томатов
  </p>
  <div class="snacks-article__footer">
    <p class="snacks-article__price">99 ₽</p>
    <button class="snacks-article__btn btn">В корзину</button>
  </div>
</article>
<article class="snacks-article">
  <div class="snacks-article__img-wrap">
    <img class="snacks-article__img" src="../img/snacks/tomat-grenki 3.webp" alt="#" />
  </div>
  <h3 class="snacks-article__title">Томатный суп с гренками</h3>
  <p class="snacks-article__text">
    Горячий суп с пшеничными гренками на основе фирменного соуса из итальянских
    томатов
  </p>
  <div class="snacks-article__footer">
    <p class="snacks-article__price">99 ₽</p>
    <button class="snacks-article__btn btn">В корзину</button>
  </div>
</article>
<article class="snacks-article">
  <div class="snacks-article__img-wrap">
    <img class="snacks-article__img" src="../img/snacks/doster.webp" alt="#" />
  </div>
  <h3 class="snacks-article__title">Додстер</h3>
  <p class="snacks-article__text">
    Легендарная горячая закуска с цыпленком, томатами, моцареллой, соусом ранч в
    тонкой пшеничной лепешке
  </p>
  <div class="snacks-article__footer">
    <p class="snacks-article__price">159 ₽</p>
    <button class="snacks-article__btn btn">В корзину</button>
  </div>
</article>
<article class="snacks-article">
  <div class="snacks-article__img-wrap">
    <img class="snacks-article__img" src="../img/snacks/hot-doster 3.webp" alt="#" />
  </div>
  <h3 class="snacks-article__title">Острый Додстер</h3>
  <p class="snacks-article__text">
    Горячая закуска с острым цыпленком, перцем халапеньо, солеными огурчиками,
    томатами, моцареллой и соусом барбекю в тонкой пшеничной лепешке
  </p>
  <div class="snacks-article__footer">
    <p class="snacks-article__price">159 ₽</p>
    <button class="snacks-article__btn btn">В корзину</button>
  </div>
</article>
<article class="snacks-article">
  <div class="snacks-article__img-wrap">
    <img
      class="snacks-article__img"
      src="../img/snacks/doster-chipotle 3.webp"
      alt="#"
    />
  </div>
  <h3 class="snacks-article__title">Додстер Чипотле</h3>
  <p class="snacks-article__text">
    Горячая закуска с пикантным соусом чипотле из копченых перчиков, цыпленком,
    томатами, моцареллой в тонкой пшеничной лепешке
  </p>
  <div class="snacks-article__footer">
    <p class="snacks-article__price">159 ₽</p>
    <button class="snacks-article__btn btn">В корзину</button>
  </div>
</article>
