// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Nunito", sans-serif;
  --content-width: 1060px;
  --container-fluid-width: 1280px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-offset) * 2)
  );

  // colors
  --light-color: #fff;
  
  --Orange-light: #fff0e6;
  --accent-collor: #f96900;
  --Gray-corporate: #f3f3f7;
  --color-text: #73798c;
}
